<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8"> 
<title>登陆页面</title> 
</head>
<body bgcolor="#f0ffff">

<form name="health_journal" action="submitted_successful" method="POST">
<fieldset >
<legend style='text-align:center' > 健康日报每日自动填写</legend>
<p style='text-align:center'>
学号: <input type="text" name="student_id" size="30"><br>
密码: <input type="password" name="password" size="30"><br>
邮箱: <input type="text" name="email" size="30"><br>


<input type="submit"  value="Submit">
</p>
</fieldset>
</form>


<h1>tip:</h1>
<p>邮箱填写常用邮箱，每次填写健康日报以后都会发个邮件告诉你。正常八点开始填写健康日报，服务器比较垃圾，所以速度不快。</p>
<p>请勿搞一些花里胡哨的操作，我处理异常心态快炸了，别填些乱七八糟的，好气哦！！！</p>
<p>体温默认37.0℃</p>
<p>错误信息不会储存，不小心填错了的话退回页面再提交一次就好。</p>
<small>（这页面都是速成的，将就用吧。）</small>

</body>
</html>